[2021-09-16 07:14] aarpon commented on #59
Good morning @ap--, @tobiasium, @sharmila-velamur and @vchikan, and sorry for the long silence on this thread.

As I mentioned earlier, we went down another path to exploit our OceanFX spectrometer for high-content screening. Since the first paper is now accepted and in print, I can finally share the code with you: https://github.com/SpectraSorter/SpectraSorter.

Again, while our code (in C#) is f

[2021-09-20 19:00] ap-- commented on #111
It seems I could recommend this option:
https://github.com/pypa/pip/issues/1883#issuecomment-919625949

[2021-09-20 19:09] stepandr47 opened #133 "Unable to connect to the HDX Spectrometer"
### spectrometer and system information ###

- model: HDX Spectrometer
- operating system: Ubuntu
- python version: python3.7
- python-seabreeze version: current
- installed-via: pip3 install seabreeze

### current problem ###

I am unable to connect to the HDX spectrometer. When I run list_devices() it displays:
![image](https://user-images.githubusercontent.com/47436247/134058429-cdab3061-e12c-4

[2021-09-20 20:33] ap-- commented on #59
Hi @aarpon,
very nice. Good to see that you could opensource your code :heart:. If you like I can add a reference to the python-seabreeze docs. :smiley:

@npeard
Sorry for the delay. If you use wireshark you can have a look at the packet capture file.

![Screenshot from 2021-09-20 21-58-29](https://user-images.githubusercontent.com/1463443/134070633-5d6ad3ec-78c5-463a-8e47-0a70a07dc09d.png)

You c

[2021-09-20 20:40] ap-- commented on #133
Hi @stepandr47

Did you install the udev rules? If not please run `seabreeze_os_setup`.
Also try running the code without calling `list_devices()` first.

If that didn't solve it, please verify that the spectrometer is working by running it on a different machine with the original spectrasuite or oceanview software.

Cheers,
Andreas :smiley:

[2021-09-21 00:52] stepandr47 commented on #133
Hi Andreas,

I have tried running it without list_devices() and I get the same result.

Below is the rule created by seabreeze_os_setup for my sensor:
![image](https://user-images.githubusercontent.com/47436247/134096115-2a1238ad-2df8-49b6-bb05-952ef5d6518f.png)

I have verified functionality using the OceanView software with no issue. Please let me know if there is any other information that woul

[2021-09-21 06:19] ap-- commented on #133
Which version of `pyusb` are your running?

[code]

[2021-09-21 13:18] stepandr47 commented on #133
Based on the image below it is version number 1.2.1
![image](https://user-images.githubusercontent.com/47436247/134176520-e5b8e700-66ed-462c-8a11-25e2412c02ca.png)

[2021-09-21 13:48] stepandr47 opened #134 "Unable to read register from Flame-T"
### spectrometer and system information ###

- model: Flame-T
- operating system: Ubuntu
- python version: python3.7
- python-seabreeze version: current
- installed-via: pip3 install seabreeze

### current problem ###

Trying to complete a register read using raw_usb_write and raw_usb_read. The functionality works for other ep1 commands. I tested it with a temperature read command and got the expe

[2021-09-21 21:32] ap-- commented on #134
Hi @stepandr47,

So sending the raw usb command in one go is correct.
What is weird is that you're able to read 4 bytes back when you send each byte individually.
According to the flame-t datasheet the command returns 3 bytes. weirdly enough as ">BH" Byte MSB LSB.
My guess is that that's a print error in the datasheet and it'll be small endian in the end.
Also it doesn't specify if it's an unsigne

[2021-09-21 21:39] ap-- commented on #133
So from your other issue, it seems that you have a flame-t running reliably?
Is your ubuntu machine a raspberry pi? and if so does the flame-t work reliably with the pi?
If the Flame-T works well on the same machine:

You could try testing a few different versions of pyusb: 1.1.0, 1.2.0, 1.2.1

If that doesn't work we'll have to figure out what the important difference is between the setup in http

[2021-09-21 21:45] stepandr47 commented on #133
Yeah that is correct. I am able to do everything fine with the Flame-T. I have a test setup on a Ubuntu VM and a raspberry pi. The Flame-T works with both setups, but I can't get the HDX to work on either. I don't have the HDX with me today, so I will get back to you tomorrow on testing different versions of pyusb.

[2021-09-21 22:04] ap-- commented on #133
Okay great. That's valuable information 👍
So we can at least rule out some strange installation issues.

The pyusb versions are a longshot, but it's a super quick test.

Another longshot would be:
(packet captures for the OceanFX seem to indicate that the oceanview software uses protocol version 0x0000 to trigger the default OBP protocol of the spectrometer, and since the OceanHDX is also a OBP pr

[2021-09-21 22:08] stepandr47 commented on #134
I have switched my implementation to mimic yours. I am still unsure how to interpret the result I am getting. Below are the results for a firmware version read followed by a lamp enable read. I would have expected the address for the firmware version to be 0x04 = 4 and for the lamp enable to be 0x40 = 64. Is my understanding of the returned values incorrect?
![image](https://user-images.githubuser

[2021-09-21 22:25] ap-- commented on #134
Hmm. I agree it seems something is off.
Interestingly it looks like I ran into a similar issue when I read the firmware version https://github.com/ap--/python-seabreeze/blob/b3b6c61e649df7134b456f471b849652a6914dc1/src/seabreeze/pyseabreeze/features/fpga.py#L27

It very much possible that your spectrometer runs a firmware that doesn't match with what's written in the datasheet.
Try reconstructing

[2021-09-22 08:11] aarpon commented on #59
Hi, @ap--

Thanks, it would be great if you could add a reference to SpectraSorter to the python-seabreeze docs!
a2

[2021-09-22 13:39] stepandr47 commented on #133
I tried the different versions of pyusb on Ubuntu. I tried each of them with and without the OBPProtocol addition stated in your last comment. It was unable to connect in all case.

I just now tried connecting to the device on Windows and it worked without any issues. I was also able to get data from it.

Any ideas what could be causing the issue on Ubuntu?

[2021-09-22 14:15] stepandr47 commented on #134
I was able to get the correct firmware version using this command structure. Seems like my device just doesn't follow what is written in the datasheet. I was also able to write and read the lamp enable value using this.

Thanks for the help on figuring out that the first byte was different than expected.

[2021-09-22 14:15] #134 closed

[2021-09-22 18:47] ap-- commented on #134
You're welcome :smiley:

Do you think the docs could be improved by adding a section about the `raw_usb` feature, maybe with an example?
And would you want to contribute such an example?

Cheers,
Andreas

[2021-09-22 19:03] ap-- commented on #133
Okay. This is great. At least we know now that it's some difference between the OSes that's unrelated to the pyusb version.

Hmmm :thinking:
- So it could be that it's a difference between libusb handling and winusb.
- It could also be that the pyseabreeze code for opening the spectrometer doesn't work with the HDX on linux.

A simple thing I would try is to setup a virtualenv with seabreeze **as

[2021-09-22 19:12] stepandr47 commented on #134
I would say the code example already makes sense it was more the disconnect between the Ocean Insight documentation that caused me confusion. Maybe just adding a comment to the raw_usb_read function saying that the first byte returned for a register read may not match the first byte in their documentation.

[2021-09-22 20:44] stepandr47 commented on #133
Running the script as root on Ubuntu got the same timeout error. I haven't looked through it yet but below are the outputs from linux. LIBUSB_DEBUG and PYUSB_DEBUG are not recognized on windows. During a quick search I was unable to find how to resolve this issue. One other thing worth mentioning is on windows I was only able to get it working when in a conda environment. I didn't realize my termi

[2021-09-22 20:58] stepandr47 commented on #133
Linux Output within conda environment:
2021-09-22 16:55:55,639 DEBUG:usb.backend.libusb1:_LibUSB.__init__(<CDLL '/home/ubuntu/anaconda3/envs/seabreeze-test/lib/libusb-1.0.so.0', handle 558ea0fe90d0 at 0x7f27a4e62a00>)
[timestamp] [threadID] facility level [function call] <message>
--------------------------------------------------------------------------------
[ 0.000138] [0000b426] libusb: debug

[2021-09-23 06:43] ap-- commented on #133
To get the same output for windows, you need to set them as environment variables:
[code]
(I think that's the right way for cmd.exe, powershell might be different)

[2021-09-23 13:22] stepandr47 commented on #133
Was able to get these debugs working by adding these lines to the start of the script in windows:
import os
os.environ['PYUSB_DEBUG'] = 'debug'
os.environ['LIBUSB_DEBUG'] = '4'

Windows Output:
'LIBUSB_DEBUG' is not recognized as an internal or external command,
operable program or batch file.

(seabreeze-test) C:\Users\astephen\Documents>python Seabreeze_test.py
Traceback (most recent call last):

[2021-09-23 18:36] ap-- commented on #133
Hi @stepandr47

hmm, I was hoping we'd see that the libusb version would differ between the two. As it is, it is probably a bit hard to compare. (the linux output you posted seems to be from an interactive session and the windows output lacks the pyusb debug info)

Could you save the following script on both your windows and linux machine and run it again and copy the full output of the script to

[2021-09-23 18:45] stepandr47 commented on #133
Linux Output:
2021-09-23 14:43:24,769 DEBUG:usb.backend.libusb1:_LibUSB.__init__(<CDLL '/home/ubuntu/anaconda3/envs/seabreeze-test/lib/libusb-1.0.so.0', handle 56411679e4c0 at 0x7fed8eccbdc0>)
[timestamp] [threadID] facility level [function call] <message>
--------------------------------------------------------------------------------
[ 0.000023] [0000e75a] libusb: debug [libusb_init] created def

[2021-09-23 18:58] stepandr47 commented on #133
Windows Output:
2021-09-23 14:57:29,833 DEBUG:usb.backend.libusb1:_LibUSB.__init__(<WinDLL 'C:\Users\astephen\Anaconda3\envs\seabreeze-test\Library\bin\libusb-1.0.dll', handle 7ffb354e0000 at 0x18e1fed4eb0>)
[timestamp] [threadID] facility level [function call] <message>
--------------------------------------------------------------------------------
[ 0.000063] [00002d14] libusb: debug [libusb_in

[2021-09-23 19:45] ap-- commented on #133
Hi @stepandr47
Thanks for the clean debug logs ❤️
I asked for advice on how to best proceed with the debugging at pyusb/pyusb#390
I'm sure they'll be able to help.

[2021-09-24 06:37] ap-- commented on #133
So, new things to test:
- [ ] create debug log on a different linux DISTRIBUTION compared to the one you used.
       (are you running the same distro on both the VM and the pi?)
- [ ] use wireshark to create a packet capture to record the usb communication.
       (recently in another issue https://github.com/ap--/python-seabreeze/issues/59#issuecomment-923275781 a user recorded the usb communica

[2021-09-24 13:38] stepandr47 commented on #133
The first Linux output came from a Ubuntu VM. Below is the output from my current Raspberry Pi setup that I had captured yesterday. I won't be able to test with wireshark until Monday as I don't have the sensor with me today. What specifically should I be looking for when going through packets on wireshark? Are you wanting me to just capture using pcap and just post the pcap file here?

Raspberry

[2021-09-26 08:29] ap-- commented on #133
If you could just post the pcap file that would be great. Tbh, I'm not entirely sure what to look for either. Which is why I think having the pcap file will make it a lot easier to ask the libusb experts for further advice.

If you compare for example your virtual machine logs with the Pi logs, you can see, that they error in different parts of the code. The VM log errors on the first read, wherea

[2021-09-26 09:11] ap-- opened #135 "ci: automate pushing wheels to test.pypi and pypi"
I should do this before the next release.

- [ ] test.pypi
- [x] pypi

[2021-09-26 09:14] ap-- opened #136 "pyseabreeze: implement gpio feature"
_Originally posted by @ap-- in https://github.com/ap--/python-seabreeze/discussions/132#discussioncomment-1353962_

### Referenced from the discussion section:

So to get this working you will need to implement the GPIO feature for the QEPro.
It's not really complicated to do so, and I have started a new branch: https://github.com/ap--/python-seabreeze/tree/qepro-gpio-wip for you where I sketched

[2021-09-26 10:40] ap-- commented on #135
Maybe I'll skip test.pypi, the wheels are available via azure artifacts on non-tag commits...

[2021-09-26 18:04] ap-- commented on #135
Decision: no need to deploy to test.pypi for now.

[2021-09-26 18:04] #135 closed

[2021-09-27 14:31] stepandr47 commented on #133
Command 1 :
pip3 install git+https://github.com/ap--/python-seabreeze.git@hdx-increased-timeout-test

Command 2:
git clone https://github.com/ap--/python-seabreeze.git
cd python-seabreeze
git fetch hdx-increased-timeout-test
git checkout feature hdx-increased-timeout-test
cd python-seabreeze
pip3 install .

I am unsure what I did wrong for installing a specific branch on my Ubuntu VM. The above co

[2021-09-27 14:38] stepandr47 commented on #133
Command 1 :
pip3 install git+https://github.com/ap--/python-seabreeze.git@hdx-increased-timeout-test

Command 2:
git clone https://github.com/ap--/python-seabreeze.git
cd python-seabreeze
git fetch hdx-increased-timeout-test
git checkout feature hdx-increased-timeout-test
cd python-seabreeze
pip3 install .

I am unsure what I did wrong for installing a specific branch on my Ubuntu VM. The above co

[2021-09-27 14:44] ap-- commented on #133
You need to follow: https://python-seabreeze.readthedocs.io/en/latest/install.html#step-1-linux
probably you're missing: `sudo apt-get install git-all build-essential libusb-dev`

[2021-09-27 15:03] stepandr47 commented on #133
That was it thanks. I installed that branch on windows, ubuntu and RPi. Still only working on windows. I have also captured the pcap for windows and ubuntu. I am unsure of a good way to do this on a RPi via ssh. Both of the files can be found in the below zip file.
[pcap_files.zip](https://github.com/ap--/python-seabreeze/files/7237325/pcap_files.zip)

[2021-09-27 17:02] ap-- commented on #133
Just a quick question: do you connect the spectrometer through a USB hub on the PI?
Just looking at the packet captures it seems the VM communicates through a USB hub.
The Windows captures don't mention a hub.

[2021-09-27 17:53] stepandr47 commented on #133
I did the packet capture through Windows Wireshark while the device was connected to a Ubuntu VM. So windows seems to see it from the VM as a USB hub.

[2021-09-27 18:12] ap-- commented on #133
So just to be clear, the three test systems are:

1. Windows Host --- Spectrometer connected directly to Host PC
2. Windows Host running Ubuntu VM --- Spectrometer directly connected to Host PC & attached to virtual machine
3. Raspberry Pi Host --- Spectrometer connected directly to Raspberry Pi

And neither in 1+2 nor in 3 is a physical USB hub involved.

[2021-09-27 18:22] stepandr47 commented on #133
Yes that is all correct

[2021-09-28 06:37] ap-- commented on #133
Okay, so the packet capture was not conclusive. https://github.com/pyusb/pyusb/issues/390#issuecomment-928607736
I guess we continue the Quest and our next stop is the linux-usb mailing list. :crossed_swords: :european_castle: :dragon:

In the meantime we should investigate if the control requests are problematic.
This all relates to this class: https://github.com/ap--/python-seabreeze/blob/5ed920

[2021-09-29 11:03] tobiasium commented on #60
has anyone gotten the HDX to work?
I am having trouble.

import seabreeze
seabreeze.use('pyseabreeze')
from seabreeze.spectrometers import Spectrometer
spec = Spectrometer.from_first_available()

leads to a timeout error

    raise USBTimeoutError(_strerror(ret), ret, _libusb_errno[ret])

USBTimeoutError: [Errno 110] Operation timed out

[2021-09-29 13:24] stepandr47 commented on #133
Below are the two files pcap files stored in a zip file. One for pyseabreeze and one for cseabreeze when using the above scripts to detect the Flame-T.

[seabreeze_test.zip](https://github.com/ap--/python-seabreeze/files/7252211/seabreeze_test.zip)

[2021-09-29 17:47] ap-- commented on #60
Hi @tobiasium

If you're running Linux or OSX you might have the same issue that's currently investigated in #133

[2021-10-01 09:24] Lavikjo commented on #133
I have witnessed a similar behavior before when running Linux (I think it was Ubuntu) in a VM and connecting to the HDX through USB. In my experience the connection was working when I installed the correct version of libusb there. For life of me I cannot remember which version was it as I'm currently running HDX on a daily basis through the ethernet with a highly experimental fork of the library.

[2021-10-01 16:57] ap-- commented on #133
Hi @Lavikjo
Thanks, that's value information! Do you at least remember if you built libusb from source or a pre-packaged version?

Cheers,
Andreas 😃

[2021-10-02 08:33] ap-- commented on #133
Hi @stepandr47

Given Lavikjo's comment so far, I think it might be worth trying different pyusb backends.
I pushed changes to the master branch that allow requesting a specific backend for `pyusb` via `pyseabreeze`.
Please install the latest version of python-seabreeze from the master branch and try if one of those might work for you:

#### libusb1

[code]

#### libusb0

[code]

#### openusb

[co

[2021-10-02 08:50] ap-- opened #137 "type annotations for seabreeze"
Let's fully type annotate seabreeze :sweat_smile:
pull requests are welcome :heart:
if you start working on annotating parts of the library, let everyone know by writing here in the issue.

Special type annotations that might be used in multiple parts should live in `seabreeze._types` (you need to make this, in case you need it.)

- [ ] src/seabreeze/_cli.py
- [x] src/seabreeze/cseabreeze/\_\_init

[2021-10-04 13:46] stepandr47 commented on #133
The outputs for each script can be seen below.

libusb1:
1.3.0.post23+gf277e90
Traceback (most recent call last):
  File "libusb1.py", line 5, in <module>
    print(Spectrometer.from_first_available())
  File "/home/ubuntu/.local/lib/python3.8/site-packages/seabreeze/spectrometers.py", line 87, in from_first_available
    for dev in list_devices():
  File "/home/ubuntu/.local/lib/python3.8/site-pa

[2021-10-29 18:24] PyMarc2 commented on #38
hello! I'm experiencing the same issues as @lancaster17. Did you push your update? If not how could I get this working? I'm a hardware guy. Thank you very much!!

[2021-11-26 17:40] greyltc opened #139 "src/libseabreeze/src/api/seabreezeapi/DHCPServerFeatureAdapter.cpp:64:16: error: template argument 1 is invalid"
Hi, I'm having trouble building the project under Arch Linux:
[code]
[file.txt](https://github.com/ap--/python-seabreeze/files/7610145/file.txt) is attached

The first compile error is:
[code]
Any ideas?

[2021-12-06 07:22] zzwyrmslayer commented on #38
I am using c++ wrapper classes to control QE pro. And I just met same problem.I find a way to solve it.
1.set the buffer to minimu size 1.
{
	long test = seabreeze_get_buffer_capacity_minimum(m_iSpectralmeterHandle, &error);
	seabreeze_set_buffer_capacity(m_iSpectralmeterHandle, &error, test);
}
2.call function to clear buffer before readout data.
{
                seabreeze_clear_buffer(m_iSpectr

[2021-12-07 17:29] jtmbeta opened #140 "Subclassing Spectrometer throws error"
### spectrometer and system information ###

- model: USB2000
- operating system: macOS Big Sur (M1)
- python version: Python 3.7.7
- python-seabreeze version: 1.3.0
- installed-via: conda

### current problem ###

When subclassing the Spectrometer class, an error is thrown when using the from_first_available() method. Previosuly (with STS) this didn't happen and I'm not sure if its down to code o

[2021-12-08 12:02] ap-- commented on #140
Hi @jtmbeta,

Your `__init__` is missing a required argument. The following should work:

[code]

Let me know if this solves your problem 😊

Cheers,
Andreas 😃

[2021-12-08 12:05] jtmbeta commented on #140
Hi Andreas,

That’s it! Thank you!

Best,
Joel

[2021-12-08 12:21] ap-- commented on #140
Happy I could help 🎉

If there's any other issues feel free to open a new one.

[2021-12-08 12:21] #140 closed

[2021-12-12 12:00] ap-- commented on #139
Hi @greyltc

What's your gcc version?
I will try to reproduce this error on my machine.

Cheers,
Andreas 😃

[2021-12-12 18:14] greyltc commented on #139
[code]

[2021-12-13 21:00] ap-- commented on #139
Hi @greyltc

With `gcc-11` I get the same error as you reported.
But seabreeze builds fine on ArchLinux using `gcc-10`.

[code]

If you could work out what compiler flag changes or code changes would be required to support older and newer versions of `gcc` (see: https://gcc.gnu.org/gcc-11/changes.html) that would be great.
I would suggest opening a PR and I could give some guidance in there on how

[2021-12-23 15:10] #139 closed

[2022-01-01 15:20] ap-- commented on #137
Closing for now via d07c2294703a5b2e7d6b8407de5072b79958d289

[2022-01-01 15:20] #137 closed

[2022-01-18 00:09] drmcnelson opened #145 "pip install seabreeze fails in fedora 35"
### spectrometer and system information ###

 Fedora35  Cinnamon Desktop
 Python 3.10.1
 Pip 21.2.3
### current problem ###

sudo pip install seabreeze fails, as follows:

` src/libseabreeze/src/api/seabreezeapi/DHCPServerFeatureAdapter.cpp: In member function ‘void seabreeze::api::DHCPServerFeatureAdapter::getServerAddress(int*, unsigned char, unsigned char (*)[4], unsigned char*)’:
  src/libseab

[2022-01-18 00:48] #145 closed

[2022-01-18 00:50] drmcnelson commented on #145
Apologies, this is the same issue as https://github.com/ap--/python-seabreeze/issues/111

The answer there, still works.   I installed it with

`pip install seabreeze[pyseabreeze] --no-use-pep517 --no-build-isolation --install-option="--without-cseabreeze"`

And the sample program to read the wavelengths and intensities works.

[2022-01-19 00:53] drmcnelson opened #146 "Timeout needed for proper trigger support"
### spectrometer and system information ###

USB2000, etc - all models with external trigger capability

### current problem ###

To adequately support triggered operation,  the API to retrieve spectra, absolutely MUST have a timeout parameter.

Without this,  the system will either hang or fail on an internal not-user-controlled timeout.

So, this is a fantastically high priority.

[2022-01-19 16:50] hari-pad opened #147 "Python cseabreeze works on Mac but not on Windows"
### spectrometer and system information ###

- model: HR4000
- operating system: Windows 10 64 bit
- python version: python 3.9.1
- python-seabreeze version: current master
- installed-via: pip

### current problem ###

I downloaded and installed python-seabreeze with the default cseabreeze backend, exactly following the instructions on the website. The install seems to have worked on my Macbook (

[2022-01-19 16:57] ap-- commented on #147
Hi @hari-pad

Can you try installing:
[code]
and report back? Maybe there's an issue in the v2.0.0 release on windows.

Cheers,
Andreas 😃

[2022-01-19 17:02] hari-pad commented on #147
Dear @ap--

Thanks for the prompt response! Just tried that, and here's what I got -

`pip install seabreeze==1.3.0`
Defaulting to user installation because normal site-packages is not writeable
Collecting seabreeze==1.3.0
  Downloading seabreeze-1.3.0.tar.gz (7.7 MB)
     |████████████████████████████████| 7.7 MB 6.4 MB/s
  Installing build dependencies ... done
  Getting requirements to build wh

[2022-01-19 17:11] ap-- commented on #147
Interesting. I assumed I was shipping wheels for python3.9 for windows, but it looks like I wasn't. So let's try to fix it another way.

### First:

can you try doing the following:

[code]

And report back

### And second:

Can you try installing Python 3.8 and with python 3.8 try `pip install seabreeze==1.3.0` and see if that works. That would allow us to rule out if it's a problem with the `2.0

[2022-01-19 17:29] hari-pad commented on #147
# First:

`pip install seabreeze==2.0.0
`
[code]

`python --version --version`

`Python 3.9.1 (tags/v3.9.1:1e5d33e, Dec  7 2020, 17:08:21) [MSC v.1927 64 bit (AMD64)]
`
`python -c "import seabreeze.cseabreeze._wrapper"
`
[code]

# Second:

Installed Python 3.8, chose it as the interpreter in Visual Studio Code, and ran the following.

`pip install seabreeze==1.3.0
`
[code]

[2022-01-19 17:32] ap-- commented on #147
Okay, so the new wheels on windows are broken. I'll try to fix that.

But in the second test you still seem to be testing against Python3.9 `c:\program files\python39\python.exe`

[2022-01-19 18:24] hari-pad commented on #147
Apologies, I am still very much a Python rookie. I'm (apparently successfully) running Python 3.8 as the interpreter on VS Code but as you pointed out, it still seems to be using Python 3.9 - let me work on fixing this.

Meanwhile I found something interesting has happened with the Python 3.9 -

### Without the spectrometer plugged in -

[code]

`[]`

This seems promising, it's the first time it w

[2022-01-20 11:06] ap-- commented on #147
Hi @hari-pad

Your issue should be fixed in the new hotfix release `v2.0.1`.
Please try
[code]
(On any of the supported python versions, so: 3.7, 3.8, 3.9, or 3.10)

If this resolves the issue feel free to close.
Let me know how things go.

Cheers,
Andreas 😃

[2022-01-20 17:14] drmcnelson opened #148 "Version 2.0.1 crashes on read"
### spectrometer and system information ###

- model: _(i.e. USB2000, STS, etc...)_

USB2000+

- operating system: _(i.e. Windows 7 64bit)_

Fedora 35

- python version: _(output of `python --version`)_

Python 3.10.1

- python-seabreeze version: _(i.e. 0.5.3 or 'current master')_

python seabreeze 2.0.1

- installed-via: _(conda, wheel, or python setup.py install)_

sudo pip install seabreeze[pys

[2022-01-20 18:44] hari-pad commented on #147
Andreas,

This seems to work! I am able to install it and then detect my instrument with no issues.

Thank you so much for the help and the fix, I appreciate it.

Best wishes,
Hari

[2022-01-20 18:44] #147 closed

[2022-01-20 21:07] ap-- commented on #146
Hi @drmcnelson,

This will be a bit more involved. It's possible to change the `pyseabreeze` backend to allow pass-through of a timeout value. For the `cseabreeze` backend these USB timeouts are hardcoded, so it'll involve more work to implement.

I will implement the functionality for `pyseabreeze` first.
But I'm currently pretty overloaded with work, so this is a very low priority right now.

I'

[2022-01-20 22:26] drmcnelson commented on #146
Yes, I saw where it would go in the pyseabreeze code.     An abort could be a useful alternative for some use cases.

[2022-01-20 22:28] ap-- commented on #148
https://github.com/ap--/python-seabreeze/actions/runs/1725616126

There's new wheels ready for download on the current PR where I try to fix the described issue.

Could you download the wheels artifact from the link above, extract it, and install the corresponding wheel for your os and python version and test if it works?

Cheers,
Andreas 😃

[2022-01-20 22:52] drmcnelson commented on #148
I am not familiar with how to work with wheels.   Also, I recall that at
least one of my systems was not using wheels.

On 1/20/22 17:28, Andreas Poehlmann wrote:

[2022-01-20 22:56] drmcnelson commented on #148
Another bug, perhaps,  the following installation command line produces an error that option "--without-cseabreeze" is not recognized.

sudo pip install seabreeze[pyseabreeze] --no-use-pep517 --no-build-isolation --install-option="--without-cseabreeze"

[2022-01-21 11:27] ap-- commented on #148
Once `v2.0.2` is out you should just be able to do:
(This pipeline has to finish to upload the new wheels: https://github.com/ap--/python-seabreeze/actions/runs/1728412220)

[code]

and it should work.

Regarding the issue with
[code]
I would need more information about your current environment. please run `pip freeze` and report back with the versions of installed python libraries on your machine

[2022-01-21 19:13] drmcnelson commented on #148
Hi, here is the pip freeze.    If you can tell me how to download and install the wheel, I can give it a try.

[pip.freeze.txt](https://github.com/ap--/python-seabreeze/files/7916075/pip.freeze.txt)

[2022-01-21 19:40] ap-- commented on #148
Sorry, could you run `pip freeze --all`?

And installing the wheel is not necessary. I made a new release, so just running `pip install -U seabreeze` on your machine should install `v2.0.2` with the newest fixes.

Cheers,
Andreas 😃

[2022-01-21 20:51] drmcnelson commented on #148
[pip.freeze.all.txt](https://github.com/ap--/python-seabreeze/files/7916540/pip.freeze.all.txt)

[2022-01-23 12:52] ap-- opened #150 "Installing seabreeze using "--without-cseabreeze" errors"
Another bug, perhaps,  the following installation command line produces an error that option "--without-cseabreeze" is not recognized.

sudo pip install seabreeze[pyseabreeze] --no-use-pep517 --no-build-isolation --install-option="--without-cseabreeze"

_Originally posted by @drmcnelson in https://github.com/ap--/python-seabreeze/issues/148#issuecomment-1017999038_

[2022-01-23 13:46] ap-- commented on #150
Okay, so this errors not when installing the seabreeze package, but one of it's dependencies.

See: https://github.com/pypa/pip/issues/1883

It seems `pip` will make this use case increasingly harder to support.
So my recommendation would be to just install the precompiled wheels from pypi via `pip install seabreeze[pyseabreeze]`
It's always supported to ignore the cseabreeze backend by using

[co

[2022-01-23 13:49] ap-- commented on #148
Thanks for the info. I moved the discussion regarding the pip install problems to a new issue: #150

In case version `v2.0.2` fixes the issue regarding crashes on `.read` please close this issue.

Cheers,
Andreas 😃

[2022-01-23 16:03] drmcnelson commented on #150
I would say the most usual use case is pyseabreaze without the
cseabreeze backend.

Indeed I wonder, given that pyseabreeze seems to work so well without it
and it seems to be so much easier to add features like the timeout on
the python-only side, what is the point of the cseabreeze backend?  What
does it add besides complication?

On 1/23/22 08:46, Andreas Poehlmann wrote:

[2022-01-23 17:27] ap-- commented on #150
A user survey I conducted around a year ago showed that the cseabreeze backend is the most commonly used by quite a margin.

It's listed at the bottom of the README: https://github.com/ap--/python-seabreeze#related-repositories
Here's the direct link: https://sourceforge.net/projects/seabreeze/
Also it's vendored in this repository, with custom patches: https://github.com/ap--/python-seabreeze/tre

[2022-01-23 17:27] drmcnelson commented on #148
Will do, will try to test it later, working on a different measurement
at the moment.  On that note, it would be great to be able to use your
pyseabreeze with the adc1000usb

On 1/23/22 08:49, Andreas Poehlmann wrote:

[2022-01-23 17:35] drmcnelson commented on #150
Fair enough

Yes, I might be one of those.  I have code for the adc100usb, but I
don't know exactly what I need to do to add it your system.   If you
have a short explicit list of instructions, starting with checkout from
github, I might give it a try.

That addresses a few my issues with it.   My motto in software is thall
shalt minimize external dependencies, and blessed are the simple for
they

[2022-01-25 00:17] drmcnelson commented on #148
Version 2.0.2  seems to be a winner.   Installs easily and runs well.

Thank you

[2022-01-25 00:17] #148 closed

[2022-01-25 00:19] drmcnelson commented on #150
As of version 2.0.2,  pip install seabreeze[pyseabreeze] seems to work, not other switches were needed and there were no errors or warnings.

Very nice, thank you

[2022-01-25 18:43] ap-- commented on #148
Awesome. Great that it works!

Regarding the ADC1000USB, I'll open another issue for improving the docs on how to add new spectrometers and I'll start a draft pull-request sketching out what needs to be done to integrate the adc1000usb code.

Cheers,
Andreas :smiley:

[2022-01-25 18:45] ap-- commented on #150
Great that it works :)

I'll keep this open until I updated the docs.

Cheers,
Andreas :smiley:

[2022-01-25 18:57] ap-- opened #151 "Improve docs on how to add new spectrometers / new functionality"
To make it easier to add new spectrometers / new functionality the documentation needs improvement.

It should contain some sort of step by step guide on howto add a new spectrometer.
It's probably a good idea to also include step by step instructions on how to do a github PR workflow.

[2022-01-27 17:11] PyMarc2 commented on #38
@XiaomingY Can you reopen this issue ?

[2022-01-27 17:25] PyMarc2 commented on #38
Thanks for the fast response!
Will do!

Marc :)

[2022-04-22 00:29] chesse20 opened #158 "i cant turn the lamp on"
### spectrometer and system information ###

USB 4000
windows 10

### current problem ###

i don't understand how to turn on the lamp, i tried following the api and it gets confusing to read. Can you add an example to the api page, i can't get data if the lamp is not on.

### steps to reproduce ###

1. run code example
2. get error

### minimal code example and error (very helpful if available) ##

[2022-04-22 08:01] ap-- commented on #158
Hi @chesse20,

If your IDE supports code completion and you have installed seabreeze>=2.0.2, it should help with this, by suggesting the available attributes on the `spec.f` attribute. Please try the following:

[code]

And let me know if it works.

Cheers,
Andreas :smiley:

[2022-04-28 09:03] waterfallpit opened #159 "Buffer dtype mismatch error in write_calibration"
### spectrometer and system information ###

- model: USB2000PLUS
- operating system: Windows 10, 64 bit
- python version: Python 3.9.5
- python-seabreeze version: 2.0.2
- installed-via: pip

### current problem ###

I am trying to write calibration data via cseabreeze backend. Upon calling `write_calibration()` the following warning si displayed:
[code]
and the error:
[code]

Even though I tried

[2022-04-28 23:07] chesse20 commented on #158
this worked for me thank you!

[2022-04-28 23:07] #158 closed

[2022-05-04 15:08] italavica commented on #59
Hi @aarpon

Thanks a lot for the contribution of Spectra Sorter, I am trying to use the software  to apply one of the triggering functions of OCEAN FX, but unfortunately I don't have the "Arduino MEGA 2560", I am using "Arduino MEGA ADK". Do you know if it is possible to modify the source code to adapt the software for the Arduino that I have?, if yes could you give some insight where I should cha

[2022-05-04 15:47] aarpon commented on #59
Hi, @italavica. The communication with the Arduino board is managed by the `spectra.devices.Arduino` class (https://github.com/SpectraSorter/SpectraSorter/blob/master/src/SpectraSorter/devices/Arduino.cs). The MEGA 2560 is connected over a COM port (via an USB-to-serial converter, as in the MEGA ADK, as far as I can tell). As long as the Arduino is recognized by the OS once plugged in, you should

[2022-05-04 15:59] italavica commented on #59
Hi @aarpon,
Thanks for the the feedback, yes indeed I did not have to change anything to the code, I just compiled the "SpectraSorter_Trigger.ino" file in my current arduino and now it is working.

[2022-05-04 16:03] aarpon commented on #59
Hi, @italavica. Sorry, yep. Forgot to mention that ;-)

[2022-05-05 15:45] italavica commented on #59
Hi, @aarpon.  As I mentioned,  I managed to connect the arduino "MEGA ADK" and set the parameters through the software (Spectra Sorter), but once I start the acquisition using the triggering mode "Legacy Synchronous" it doesn't display  and  save the spectrum in the csv file. What do you think it can be the issue?

Thanks in advance.

Cheers,
italavica

![image](https://user-images.githubuserconte

[2022-05-06 06:45] waterfallpit commented on #159
@ap-- , thank you for fixing it and sorry for the late reply.
I tried running it with that fix and the error is no longer displayed. However, python crashes when calling `write_calibration`. I suspect that the spectrophotometer might not support it. I am now calculating the irradiance in python from raw counts and compare it to what SpectraSuite outputs to confirm it's working properly.

[2022-05-06 11:06] aarpon commented on #59
Hi, @italavica. I am afraid that this trigger mode is not implemented.

[2022-05-06 14:43] mabaquero opened #161 "Read gpio with raw_usb_bus_access?"
### spectrometer and system information ###

- model: HR4000CG-UV-NIR
- operating system: Windows 10 64bit

### current problem ###

Dear experts,
I want to read one of the digital GPIO pins in my spectrometer, but unfortunately the gpio feature does not seem to be available for my device.

From what I can tell, the only feature that is available is "raw_usb_bus_access".

Does anyone know how to u

[2022-05-09 20:49] #159 closed

[2022-05-19 12:39] LeAmarillo opened #162 "UrlError when installing windows driver by os_setup"
### spectrometer and system information ###
- model: USB2000 but is not plugged into my pc during the installation
- operating system: Windows 10 64bit
- python version: Python 3.9.7
- python-seabreeze version: current master
- installed-via: _ conda

### current problem ###
Hi! I meet a weird problem.

I cannot successfully run seabreeze_os_setup. Tried both run seabreeze_os_setup in Anaconda Pow

[2022-05-19 13:23] ap-- commented on #162
Hello,

an easy workaround, is to download the file manually https://github.com/ap--/python-seabreeze/raw/master/os_support/windows-driver-files.zip and run
[code]
in an admin shell

Let me know if that helps.
I will try to reproduce the issue when i have access to a windows machine.

Cheers,
Andreas

[2022-05-19 13:54] LeAmarillo commented on #162
Hi Andreas,

Thanks a lot for your quick response and it helps! Even though it told me there were some models not installed successfully(33/53 installed) but I checked the list that USB2000 should be okay. Thanks again!@ap--

[2022-05-20 09:39] ap-- commented on #162
Glad I could help!
I'll leave this open for now so that I don't forget to try to reproduce.

Cheers,
Andreas 😃

[2022-08-07 07:25] ap-- commented on #146
Note to self: It seems there's no easy hacky way to do this with the sync interface: https://libusb.sourceforge.io/api-1.0/libusb_io.html#sync

[2022-08-07 13:50] drmcnelson commented on #146
Yes, it looks messy.   The comment that they need to be called to handle events seems a little concerning.

I have been using the device in triggered mode for clocked data acquisitions.   So I'm getting along with out it for the moment.

Thank you for looking into it.

[2022-08-07 13:57] drmcnelson commented on #146
user space thread to implement a watchdog timer?   (provided the overhead is small)

But again, I don't want to cause you extra work.    It has been working very well as is, for my clocked data acquisitions.

At this point, I am pretty sure I would not change my code to use the timeout.

[2022-09-20 14:35] italavica commented on #59
Hi, @aarpon, I am just wandering if you already implemented the "Legacy Synchronous" triggering mode?, if not could you advice me where to start for implement it?

[2022-10-18 10:52] islandmonkey commented on #110
We have the same issue with our Flame (USB4000).  The spec.integration_time_micros() call does not block unless we add a 1 second sleep in between changing integration times we don't get the correct spectra.

Using the pyseabreeze backend.

[2022-10-20 15:14] MarcoBisi0 opened #174 "USB2000 must be read three times before getting intensities"
### spectrometer and system information ###

- model: USB2000
- operating system: Debian Bullseye 32bit
- python version: Python 3.9.2
- python-seabreeze version: current master
- installed-via: pip

### current problem ###

instrument must be read three times before getting intensities

### steps to reproduce ###
Here is my code, I know it is ugly...

[code]

### minimal code example and error (v

[2022-10-20 15:15] MarcoBisi0 commented on #174
By the way, thank you for your work Andreas!

[2022-11-02 16:08] bensoloway opened #175 "C seabreeze doesn't report firmware version"
### spectrometer and system information ###

- model: HR2000ES+
- operating system: i.e. Ubuntu 22 64bit
- python version: 3.10.6
- python-seabreeze version: 2.0.3
- installed-via: pip

### current problem ###

I can't get the firmware version

### steps to reproduce ###
Open console and start python. Run the following commands
import seabreeze.spectrometers as sb
spec = sb.Spectrometer.from_seria